*{
    font-family: 'Poppins';
}
header{
    padding: 30px 80px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    display: none;
}
nav > ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-size: 600;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
}
.search-icon,
.cart-icon {
    width: 24px;
    margin-right: 30px;
}
.section-title{
    font-size: 1.75rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 0;
}
.section-desc{
    font-size: 1rem;
    font-size: 600;
    color: #3A3A3A;
    margin-top: 0;
}
.head-column-1 h1{
    font-size: 3.25rem;
}
.primary-btn{
    color: white;
    background-color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 25px;
    border: 0;
    border-radius: 41px;
    display: flex;
    align-items: center;
}
.arrow_forward{
    margin-left: 10px;
}
.header-columns{
    display: flex;
    margin-top: 30px;
}
.head-column-1,
.head-column-2{
    width: 50%;
}
.head-column-2{
    text-align: right;
}
.main-camera{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.partners{
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular{
    max-width: 65.5rem;
    margin: 70px auto 0;
}
.popular>h3{
    text-align: center;
}
.popular-boxes{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.box{
    max-width: 20rem;
    padding:15px;
    border: 1px solid #E02C6D;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
.box>img{
    margin-bottom: 0;
}
.box>h2{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
}
.box>h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 0;
}
.rating{
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}
.see-more-btn{
    max-width: 65.5rem;
    margin: 40px auto 0;
    text-align: right;
}
.see-more-btn button{
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    background: white;
    align-items: center;
}
.featured{
    display: flex;
    gap: 80px;
    max-width: 69rem;
    margin: 40px auto 0;
}
.featured-col-2>h2{
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #0A0826;
}
.featured-col-2>p{
    font-weight: 700;
    color: #6C6C6C;
}







@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    
    .nav-icons img {
        margin-right: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        text-align: left;
        flex-direction: column;
        background: #E02C6D;
        width: 50%;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .header-columns,
    .featured{
        flex-direction: column-reverse;
    }
    .head-column-1,
    .head-column-2{
        width: 100%;
        text-align: center;
    }
    .head-column-1>h1{
        font-size: 28px;
    }
    .head-column-2 img{
        max-width: 100%;
    }
    .partners{
        max-width: 93%;
    }
    .partners img{
        width: 40px;
    }
    .popular-boxes{
        grid-template-columns: repeat(1, 1fr);
    }
    .box{
        padding-left: 30px;
        padding-top: 30px;
        margin: 0 auto;
    }
    .featured{
        gap: 30px;
    }
    .featured-col-1{
        margin: 0 auto;
    }
    .featured-col-1 img{
        width: 300px;
    }
    .featured-col-2{
        text-align: center;
        margin: 0 auto;
        max-width: 370px;
    }
    .featured-col-2>h2{
        font-size: 24px;
    }
    .featured-col-2 button{
        margin: 0 auto;
    }
}







@media  screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 30px;
    }
    
    .nav-icons img {
        margin-right: 10px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        text-align: left;
        flex-direction: column;
        background: #E02C6D;
        width: 50%;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .header-columns,
    .featured{
        flex-direction: column-reverse;
    }
    .head-column-1,
    .head-column-2{
        width: 100%;
        text-align: center;
    }
    .head-column-1>h1{
        font-size: 28px;
    }
    .head-column-2 img{
        max-width: 100%;
    }
    .partners{
        max-width: 90%;
    }
    .partners img{
        width: 60px;
    }
    .popular-boxes{
        grid-template-columns: repeat(2, 1fr);
    }
    .box{
        padding-left: 30px;
        padding-top: 30px;
        margin: 0 auto;
    }
    .featured{
        align-items: center;
        gap: 30px;
    }
    .featured-col-2{
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
    }
    .featured-col-2 button{
        margin: 0 auto;
    }
}